In [1]:
import pandas as pd 
import numpy  as np 
from pathlib import Path
import pickle
import os

In [2]:
import data_set_analysis_helper_functions as ahf

In [3]:
data_dir_output = '/Users/gilmandelbaum/Desktop/optoOutPut'
data_dir_input = '/Users/gilmandelbaum/Desktop/opto'
HowManyBack=1 


seq_str= "0a1ad2a4abc5a6a"
folder_name = "timeOfLicks"

In [4]:
Mouse_Date_FileName = pd.read_csv(data_dir_input+"/MasterOptoConsumption.csv")

In [5]:
Mouse_Date_FileName = Mouse_Date_FileName[Mouse_Date_FileName["Mouse"]=="T183"].reset_index()

In [6]:
Mouse_Date_FileName

   index Mouse    Date  D TypeOfStim SideOfStim
0     56  T183  190227  1          C          R
1     57  T183  190303  1          C          R
2     58  T183  190308  1          C          R
3     59  T183  190312  1          C          R
4     60  T183  190313  1          C          L
5     61  T183  190314  1          C          L
6     62  T183  190315  1          C          L
7     63  T183  190318  1          C          L
8     64  T183  190319  1          C          L

In [7]:
def clean (df_s):
    data_list = []
    for df in df_s:
        data_list.append(df.drop("Unnamed: 0",axis=1).transpose())
    return (data_list)

In [8]:
rt_stay_right = ahf.loadSession_csv (Mouse_Date_FileName,data_dir_output,
                                     HowManyBack,folder_name,seq_str,"Sel_tag_stay_right")

In [9]:
rt_stay_right = clean(rt_stay_right)

In [10]:
rt_switch_right = ahf.loadSession_csv (Mouse_Date_FileName,data_dir_output,
                                       HowManyBack,folder_name,seq_str,"Sel_tag_switch_right")

In [11]:
rt_switch_right = clean(rt_switch_right)

In [12]:
rt_stay_left = ahf.loadSession_csv (Mouse_Date_FileName,data_dir_output,
                                     HowManyBack,folder_name,seq_str,"Sel_tag_stay_left")

In [13]:
rt_stay_left = clean(rt_stay_left)

In [14]:
rt_switch_left = ahf.loadSession_csv (Mouse_Date_FileName,data_dir_output,
                                       HowManyBack,folder_name,seq_str,"Sel_tag_switch_left")

In [15]:
rt_switch_left = clean(rt_switch_left)

In [16]:
df = ahf.extract_data_set (Mouse_Date_FileName,rt_stay_right,rt_switch_right,rt_stay_left,rt_switch_left)

In [17]:
df

,mouse,date,D,SideOfStim,switchSide_switch,switchSide_Stay,NOswitchSide_switch,NOswitchSide_Stay
0,T183,190227,1,R,160.0,117.5,0,70.0
1,T183,190303,1,R,90.0,135.0,0,170.0
2,T183,190308,1,R,90.0,110.0,0,110.0
3,T183,190312,1,R,255.0,185.0,0,180.0
4,T183,190313,1,L,100.0,90.0,95,122.5
5,T183,190314,1,L,85.0,75.0,100,90.0
6,T183,190315,1,L,85.0,0.0,0,55.0
7,T183,190318,1,L,90.0,80.0,80,60.0
8,T183,190319,1,L,115.0,195.0,205,85.0

In [18]:
file = "data_set_respose_times"
cache_dir_plt = os.path.join(data_dir_output, file)
if not os.path.exists(cache_dir_plt):
    os.makedirs(cache_dir_plt)

In [19]:
df.to_csv(data_dir_output+"/"+file+"/"+"respose_times"+seq_str+".csv")