In [1]:
import pandas as pd 
import numpy  as np 
from pathlib import Path
import pickle
import os

In [2]:
import data_set_analysis_helper_functions as ahf

In [3]:
data_dir_output = '/Users/gilmandelbaum/Desktop/optoOutPut'
data_dir_input = '/Users/gilmandelbaum/Desktop/opto'

HowManyBack=1 

seq_str= "0a1ad2a4abc5a6c"
folder_name = "count_licks_perPeriod_with_direction"

In [4]:
Mouse_Date_FileName = pd.read_csv(data_dir_input+"/MasterOptoConsumption.csv")

In [5]:
Mouse_Date_FileName = Mouse_Date_FileName[Mouse_Date_FileName["Mouse"]=="T183"].reset_index()

In [6]:
dataSet = ahf.loadSession_pickle (Mouse_Date_FileName,data_dir_output,
                                  HowManyBack,folder_name,seq_str,"count_licks_perPeriod_with_direction")

In [7]:
dataSet[0]

             R                                                          \
          ipsi
            22
  Real_nTrials      Reward_NoReward_tag      ENL_tag      Sel_tag
             R    L                   R    L       R    L       R    L
0          NaN  NaN                 NaN  NaN     NaN  NaN     NaN  NaN
1          NaN  NaN                 NaN  NaN     NaN  NaN     NaN  NaN
2          NaN  NaN                 NaN  NaN     NaN  NaN     NaN  NaN
3          NaN  NaN                 NaN  NaN     NaN  NaN     NaN  NaN
4          NaN  NaN                 NaN  NaN     NaN  NaN     NaN  NaN
5          NaN  NaN                 NaN  NaN     NaN  NaN     NaN  NaN
6          NaN  NaN                 NaN  NaN     NaN  NaN     NaN  NaN
7          NaN  NaN                 NaN  NaN     NaN  NaN     NaN  NaN

                     ...       L                                             \
                     ...  contra
            21       ...      12                11
  Real_nTrials       ... Sel_tag      Real_nTrials      Reward_NoReward_tag
             R    L  ...       R    L            R    L                   R
0          NaN  NaN  ...     NaN  NaN         10.0  3.0                 9.0
1          NaN  NaN  ...     NaN  NaN         10.0  6.0                 9.0
2          NaN  NaN  ...     NaN  NaN         10.0  5.0                 9.0
3          NaN  NaN  ...     NaN  NaN         11.0  3.0                10.0
4          NaN  NaN  ...     NaN  NaN          NaN  NaN                 NaN
5          NaN  NaN  ...     NaN  NaN          NaN  NaN                 NaN
6          NaN  NaN  ...     NaN  NaN          NaN  NaN                 NaN
7          NaN  NaN  ...     NaN  NaN          NaN  NaN                 NaN




       ENL_tag      Sel_tag
     L       R    L       R    L
0  3.0     NaN  NaN     1.0  0.0
1  6.0     NaN  NaN     1.0  0.0
2  5.0     NaN  NaN     1.0  0.0
3  3.0     NaN  NaN     1.0  0.0
4  NaN     NaN  NaN     NaN  NaN
5  NaN     NaN  NaN     NaN  NaN
6  NaN     NaN  NaN     NaN  NaN
7  NaN     NaN  NaN     NaN  NaN

[8 rows x 128 columns]

In [8]:
df = ahf.stimLickDirections (dataSet,Mouse_Date_FileName)

In [9]:
df

,mouse,date,D,SideOfStim,Switch_StimSide,Switch_NotStimSide,NoSwitch_StimSide,NoSwitch_NotStimSide,ControlSwitch_StimSide,ControlSwitch_NotStimSide,ControlNOSwitch_StimSide,ControlNOSwitch_NotStimSide
0,T183,190227.0,1.0,R,8.250000,6.500000,9.250000,4.250000,NaN,NaN,11.000000,0.125000
1,T183,190303.0,1.0,R,4.857143,3.571429,12.000000,3.000000,NaN,NaN,6.571429,0.000000
2,T183,190308.0,1.0,R,8.000000,1.800000,11.000000,4.000000,NaN,NaN,10.166667,0.000000
3,T183,190312.0,1.0,R,10.500000,0.250000,10.333333,0.333333,NaN,NaN,9.000000,0.285714
4,T183,190313.0,1.0,L,7.000000,12.714286,7.500000,11.500000,17.25,0.25,17.333333,0.000000
5,T183,190314.0,1.0,L,7.769231,11.307692,9.000000,9.000000,19.00,0.00,19.857143,0.000000
6,T183,190315.0,1.0,L,8.090909,11.818182,NaN,NaN,NaN,NaN,18.846154,0.000000
7,T183,190318.0,1.0,L,7.833333,13.500000,8.750000,12.250000,20.50,0.00,20.250000,0.000000
8,T183,190319.0,1.0,L,2.333333,0.333333,2.142857,0.428571,5.00,0.00,5.500000,0.000000

In [10]:
file = "data_set_lick_direction"
#file = "data_set"+"_"+seq_str
cache_dir_plt = os.path.join(data_dir_output, file)
if not os.path.exists(cache_dir_plt):
    os.makedirs(cache_dir_plt)

In [11]:
#df.to_csv(data_dir_output+"/"+file+"/"+"lick_direction.csv")
df.to_csv(data_dir_output+"/"+file+"/"+"lick_direction_"+seq_str+".csv")